@import "mixins";
@import "variables";
ul{
  margin: 0;
}
header {
  position: absolute;
  width: 100%;
  z-index: 2;
  .v-1110{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 1.4;
      color: #FFFFFF;
      font-family: 'Quicksand', sans-serif;
    }
    .menu{
      margin-left: auto;

      ul{
        display: flex;
        li{
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 1.4;
          color: #ffffff;
          padding: 0 24px;
          list-style: none;
          a{
            text-decoration: none;
            color: #ffffff;
            padding: 28px 0;
            display: block;
          }
          a:hover{
            color: #8CB0FF;
          }
        }
        li:hover{
          color: #8CB0FF;
        }
      }
    }

    .button{
      margin-left: 33px;
      a{
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 30px rgba(255, 255, 255, 0.5);
        border-radius: 100px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
        color: #00196C;
        width: 99px;
        height: 43px;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
      }
    }
  }

}
