@import "mixins";
@import "variables";
ul{
  margin: 0;
}
header.home-page{
  background: transparent;
  position: absolute;
}
header {
  background: #00196C;
  width: 100%;
  z-index: 2;
  .v-1110{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 1.4;
      color: #FFFFFF;
      font-family: 'Quicksand', sans-serif;
    }
    .toggle{
      display: none;
    }
    .menu{
      margin-left: auto;

      ul{
        display: flex;
        li:hover ul{
          display: flex;
        }
        li{
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 1.4;
          color: #ffffff;
          padding: 0 24px;
          list-style: none;
          a{
            text-decoration: none;
            color: #ffffff;
            padding: 28px 0;
            display: block;
            transition: all 0.3s ease-in-out;
          }
          a:hover{
            color: #8CB0FF;
            transition: all 0.3s ease-in-out;
          }
          ul:after{
            content: '';
            width: 10px;
            height: 10px;
            background: #ffffff;
            top: -5px;
            position: absolute;
            transform: rotate(45deg);
          }
          ul{
            display: none;
            flex-direction: column;
            background: #FFFFFF;
            border-radius: 10px;
            position: absolute;
            padding: 25px 16px 22px 16px;

            li{
              padding: 0;
            }
            a{
              color: #000000;
              padding: 6px 0;
            }

          }
        }
        li:hover{
          color: #8CB0FF;
        }
      }
    }

    .button{
      margin-left: 33px;
      a{
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 30px rgba(255, 255, 255, 0.5);
        border-radius: 100px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
        color: #00196C;
        width: 99px;
        height: 43px;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
      }
    }
  }

}
