@import "mixins";
@import "variables";

body{
  max-width: 1720px;
  margin: 0 auto;
  position: relative;
  padding: 0!important;
}
ul{
  margin: 0;
}

.v-1110{
  margin: 0 auto;
  max-width: 1110px;
}
#your-customer{
  background: #001762;
  position: relative;
  padding-bottom: 60px;

  .info{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .v-1110{
      width: 100%;


      p{
        color: #FFFFFF;
        text-align: left;
        max-width: 400px;
      }
      .buttons{
        margin-top: 45px;
        display: flex;

        a:nth-child(1){
          margin-right: 17px;
        }
      }
    }

  }
  .image{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.modal{
  .modal-dialog{
    max-width: 912px;
    margin: 0 auto;
    .modal-header{
      position: relative;
      background: transparent;
      padding: 0;
      height: 0;
      border: none;
      button{
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
      }
    }
  }

}
#pop-up.try{
  .image {
    img {
      max-width: 1030px;
    }
  }
  .get-started {
    max-width: 340px;
    margin-left: 230px;
    margin-right: -120px;
  }
  .goal{
    margin-bottom: 30px;
    p.title{
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 177.5%;
      color: #000000;
      opacity: 0.45;
      margin-top: 8px;
    }
    .goals{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;

      .one-g{
        display: flex;
        justify-content: end;
        align-items: center;
        img{
          margin-right: 15px;
        }
        p{
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 160%;
          color: #000000;
          margin: 0;
          opacity: 0.8;
        }
      }
    }
  }
}
#pop-up {
  background: #000D37;
  position: relative;

  .image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 912px;
      margin: 0 auto;
    }
  }

  .info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    background: rgba(255, 255, 255, 0.2);
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    .button-img {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }
  }

  .phone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 51px;
      line-height: 110%;
      color: #FFFFFF;
      text-align: center;
      margin: 20px 0 10px 0;
    }

    p.subtitle {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 177.5%;
      color: #FFFFFF;
      margin: 0;
    }
  }

  .get-started {
    max-width: 315px;
    margin-left: 190px;
    margin-right: -70px;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 51px;
      line-height: 110%;
      color: #000000;
      opacity: 0.8;
      text-align: left;
      margin-bottom: 20px;
    }
  }
}

#submit {
  margin-top: 17px;
  align-items: center;
  display: flex;

  a.sign {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 177.5%;
    color: #B073FF;
    padding: 5px;
  }
}

#information {
  label {
    margin-bottom: 0;
  }

  p.title {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 177.5%;
    color: #000000;
    opacity: 0.45;
    margin: 0 0 8px 0;
  }

  input {
    width: 100%;
    background: #F6F6F6;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 20px;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 177.5%;
    color: #000000;
  }
}
#we-do{
  background: #EBF1FF;
  padding: 95px 0 78px 0;

  h2{
    padding: 0 10px;
  }
  .icons-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 115px;

    .one-icon-block{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      h3 {
        margin: 38px 0 20px 0;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        text-align: center;
        color: #407BFF;
        max-width: 158px;
      }

      p{
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
      }

      .icon{
        height: 160px;
        width: 160px;
        border-radius: 50%;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.real-demand-row {
  max-width: 930px;
  margin: 0 auto;
  padding: 65px 0;
}
#real-demand-delivered{
  background-image: url("../acetss/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 60px 0 20px 0;
  padding-bottom: 85px;

    .info{
      display: flex;

      span{
        font-style: normal;
        font-weight: bold;
        font-size: 102px;
        color: #000000;
        opacity: 0.07;
        line-height: 1;
        margin-right: 20px;
        font-family: 'Quicksand', sans-serif;
      }

      .text{
        h2{
          text-align: left;
          margin-bottom: 20px;
          line-height: 1.1;
        }
      }
    }

    .first-row{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 60px;
      margin-bottom: 100px;
    }
    .second-row{
      display: flex;
      justify-content: center;
      align-items: end;

      .info{
        padding-top: 55px;
      }
      span{
        margin-right: 40px;
        font-family: 'Quicksand', sans-serif;
      }

      .image{
        padding-left: 85px;
      }
    }

}
#how-we-do {
  background: #00196C;
  padding: 128px 0 170px 0;

  h2 {
    color: white;
    margin-bottom: 110px;
  }
}
.how-we-do-icons-block {
  max-width: 930px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  direction: ltr;
}
.one-icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(246, 246, 246, 0.25);

  &:nth-child(1), &:nth-child(2) {
    border-bottom: 1px solid rgba(246, 246, 246, 0.25);
    padding-bottom: 60px;
  }

  &:nth-child(3) {
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(246, 246, 246, 0.25);
    border-right: none;
  }
  &:nth-child(4), &:nth-child(5), &:nth-child(6) {
    padding-top: 60px;
  }
  &:nth-child(6) {
    border-right: none;
  }

  .icon {
    background: #FFFFFF;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    width: 57px;
    height: 57px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    text-align: center;
    max-width: 232px;
    margin: 0 auto;
    color: #FFFFFF;

    h3 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 20px;
      color: white;
    }

    p {
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      opacity: 0.8;
    }
  }
}
#industries{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 190px;

  .industries-items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    .one-item{
      display: flex;
      flex-direction: column;

      a{
        text-decoration: none;
        color: #000000;
      }
    }
  }
  .industries-text{
    display: flex;
    width: 100%;
    margin-bottom: 40px;

    .info{
      max-width: 435px;
      margin-left: 55px;
      padding-top: 10px;
    }
    h2{
      text-align: left;
      max-width: 355px;
    }
    p{
      font-size: 16px;
      line-height: 1.5;
      color: #000000;
    }
  }
}
#brands{
  background: #EBF1FF;
  margin-top: -75px;
  padding: 215px 0 100px 0;

  .brands-logos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;

    .one-logo{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
#ready {
  padding: 83px 0;
  background-image: url("../acetss/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  h2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 141%;
    text-align: center;
    padding: 0 8px;
    color: #FFFFFF;
  }
}

.ready-buttons-block {
  max-width: 930px;
  margin: 0 auto;

  a {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 141%;
    text-decoration: none;
    /* or 30px */
    color: #FFFFFF;
    border-radius: 100px;
    display: block;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 10px;

    &:hover {
      border: 3px solid #B073FF;
      box-shadow: 0px 2px 50px rgba(237, 134, 193, 0.6);
      background: #B073FF;
    }
  }
}



#real-demand-delivered {
  .image{
    margin-right: 60px;
    position: relative;
  }
  .content{
    padding-right: 34px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    .one-sms{
      //width: 200px;
      //height: 30px;
      //background: red;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      -webkit-transform: translateX(350px);
      transition-duration: 5000ms;
      position: relative;
      &:nth-child(1){
        transition-duration: 500ms;
        margin-bottom: -10px;
        .active{
        }
      }
      &:nth-child(2){
        transition-duration: 1500ms;
      }
      &:nth-child(3){
        transition-duration: 2500ms;
      }
      &:nth-child(4){
        transition-duration: 3500ms;
      }
      &.active{
        right: auto;
        -webkit-transform: translateX(0);
      }
    }
  }
}
.one-sms:nth-child(1).active{
  -webkit-transform: translateX(50px)!important;

}




.animation_image{
  position: relative;
  width: 320px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.animation_image .first-icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}

.animation_image .second-icon{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
}

.animation_image .third-icon{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
}
.animation_image .fourth-icon{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
}

#real-demand-delivered .animation_image img{
  max-width: 60px;
  height: auto;
}

@keyframes animation_image {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.animation_image img{
  opacity: 0;
  //transition-duration: 10s;
}
.animation_image.active img{
  animation-name: animation_image;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  opacity: 1;
}



.circl:after{
  content: '';
  width: 10px;
  height: 10px;
  background-color: #00196C;
  border-radius: 100%;
  position: absolute;
  top: 8px;
  left: 8px;
}
.circl:before{
  content: '';
  width: 10px;
  height: 10px;
  background-color: #00196C;
  border-radius: 100%;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.circl2:after{
  content: '';
  width: 10px;
  height: 10px;
  background-color: #00196C;
  border-radius: 100%;
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.circl2:before{
  content: '';
  width: 10px;
  height: 10px;
  background-color: #00196C;
  border-radius: 100%;
  position: absolute;
  top: 8px;
  right: 8px;
}
.line-1{
  border: 1px dashed #00196C;
  position: absolute;
  width: 2px;
  height: 85px;
  transform: rotate(90deg);
  top: -30px;
  left: -37px;

}
.line-2{
  border: 1px dashed #00196C;
  position: absolute;
  width: 2px;
  height: 101px;
  transform: rotate(-18deg);
  top: -91px;
  right: 30px;

}
.line-3{
  border: 1px dashed #00196C;
  position: absolute;
  width: 2px;
  height: 90px;
  transform: rotate(80deg);
  bottom: -22px;
  left: 127px;

}

.line-4{
  border: 1px dashed #00196C;
  position: absolute;
  width: 2px;
  height: 100px;
  transform: rotate(159deg);
  top: 80px;
  left: 33px;

}
.line{
  opacity: 0;
}
.active .line{
  opacity: 1;
  //transition: all 40s ease-in-out;
  animation-name: line;
  animation-duration: 4.5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
}
@keyframes line {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.active .element {
  height: 90px;
  width: 90px;
  margin: 0 auto;
  position: relative;
  background-color: #407BFF;
  animation-name: stretch;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  border-radius: 100%;
}
.active .element{
  transform: rotate(135deg);

}
@keyframes stretch {
  0% {
    transform: scale(.3);
    border-radius: 100%;
  }
  40% {
    transform: scale(1);

  }
  70% {
    transform: rotate(135deg);

  }
}


#your-customer .buttons a.s-v-button:nth-child(1):hover{
  border: 2px solid #b073ff !important;
  box-shadow: 0px 2px 50px rgba(237,134,193,.6);
  transition: all .3s ease-in-out;
  background: #b073ff;
  text-decoration: none;
  color: #fff;
}