@import "mixins";
@import "variables";

body{
  max-width: 1720px;
  margin: 0 auto;
  position: relative;
}
ul{
  margin: 0;
}
h2{
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}
.v-1110{
  margin: 0 auto;
  max-width: 1110px;
}
#your-customer{
  background: #001762;
  position: relative;
  padding-bottom: 60px;

  .info{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .v-1110{
      width: 100%;

      h1{
        font-style: normal;
        font-weight: bold;
        font-size: 51px;
        line-height: 1;
        color: #FFFFFF;
        text-align: left;
        max-width: 530px;
        margin-bottom: 40px;
      }
      p{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 1.6;
        color: #FFFFFF;
        text-align: left;
        max-width: 400px;
      }
      .buttons{
        margin-top: 45px;
        display: flex;

        a{
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 1.4;
          text-align: center;
          color: #FFFFFF;
          border: 2px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 100px;
          text-decoration: none;
          width: 170px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        a:nth-child(1){
          margin-right: 17px;
        }
        a:hover{
          border: 2px solid #B073FF;
          box-shadow: 0px 2px 50px rgba(237, 134, 193, 0.6);
          background: #B073FF;
        }
      }
    }

  }
  .image{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
#we-do{
  background: #EBF1FF;
  padding: 95px 0 78px 0;
  .icons-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 115px;

    .one-icon-block{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        margin: 38px 0 20px 0;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        text-align: center;
        color: #407BFF;
        max-width: 158px;
      }

      p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        color: #000000;
        line-height: 1.5;
      }

      .icon{
        height: 160px;
        width: 160px;
        border-radius: 50%;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
#real-demand-delivered{

  background-repeat: no-repeat;
  background-size: cover;
  max-width: 930px;
  margin: 0 auto;
  padding: 115px 0 155px 0;

  .info{
    display: flex;

    span{
      font-style: normal;
      font-weight: bold;
      font-size: 102px;
      color: #000000;
      opacity: 0.07;
      line-height: 1;
      margin-right: 20px;
      font-family: 'Quicksand', sans-serif;
    }

    .text{
      h2{
        text-align: left;
        margin-bottom: 20px;
        line-height: 1.1;
      }
      p{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        text-align: left;
        font-size: 19px;
        line-height: 1.6;
        color: #000000;
      }
    }
  }

  .first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    margin-bottom: 90px;
  }
  .second-row{
    display: flex;
    justify-content: center;
    align-items: end;

    .info{
      padding-top: 35px;
    }
    span{
      margin-right: 40px;
      font-family: 'Quicksand', sans-serif;
    }

    .image{
      padding-left: 85px;
    }
  }
}
#how-we-do {
  background: #00196C;
  padding: 128px 0 170px 0;

  h2 {
    font-size: 51px;
    text-align: center;
    color: white;
    margin-bottom: 110px;
  }
}
.how-we-do-icons-block {
  max-width: 930px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  direction: ltr;
}
.one-icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(246, 246, 246, 0.25);

  &:nth-child(1), &:nth-child(2) {
    border-bottom: 1px solid rgba(246, 246, 246, 0.25);
    padding-bottom: 60px;
  }

  &:nth-child(3) {
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(246, 246, 246, 0.25);
    border-right: none;
  }
  &:nth-child(4), &:nth-child(5), &:nth-child(6) {
    padding-top: 60px;
  }
  &:nth-child(6) {
    border-right: none;
  }

  .icon {
    background: #FFFFFF;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    width: 57px;
    height: 57px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    text-align: center;
    max-width: 232px;
    margin: 0 auto;
    color: #FFFFFF;

    h3 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;

      /* or 24px */
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      opacity: 0.8;
    }
  }
}
#industries{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 190px;

  .industries-items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    .one-item{
      display: flex;
      flex-direction: column;

      a{
        text-decoration: none;
        color: #000000;
      }
      h4{
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.4;
        color: #000000;
        min-height: 67px;
        background: #FFFFFF;
        display: flex;
        justify-content: end;
        align-items: center;
        box-sizing: border-box;
        border-radius: 0px 0px 10px 10px;
        padding: 0 20px;
      }
    }
  }


  .industries-text{
    display: flex;
    width: 100%;
    margin-bottom: 40px;

    .info{
      max-width: 435px;
      margin-left: 55px;
      padding-top: 10px;
    }
    h2{
      text-align: left;
      max-width: 355px;
    }
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.5;
      color: #000000;
    }
  }
}
#brands{
  background: #EBF1FF;
  margin-top: -67px;
  padding: 215px 0 110px 0;

  .brands-logos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;

    .one-logo{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
#ready {
  padding: 83px 0;
  background-image: url("../acetss/bg.png");
  h2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 141%;
    text-align: center;
    color: #FFFFFF;
  }
}

.ready-buttons-block {
  max-width: 930px;
  margin: 0 auto;

  a {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 141%;
    text-decoration: none;
    /* or 30px */
    color: #FFFFFF;
    border-radius: 100px;
    display: block;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 0;

    &:hover {
      border: 3px solid #B073FF;
      box-shadow: 0px 2px 50px rgba(237, 134, 193, 0.6);
      background: #B073FF;
    }
  }
}