@import "mixins";
@import "variables";
#live-calls_top .second .text-block .one-i.f {
  margin-bottom: 20px;
}
#live-calls_top{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 130px 0 100px 0;
  background-image: url("../acetss/Vector 33.png");
  background-repeat: no-repeat;
  background-size: cover;
  .first{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 155px;
    .text-block {
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 160%;
        color: #000000;
        margin-bottom: 10px;
      }
    }
  }
  .second{
    display: flex;
    align-items: center;
    justify-content: center;
    .text-block{
      margin-left: 0;
      max-width: 300px;
      margin-right: 35px;

      .one-i{
        display: flex;
        justify-content: center;
        align-items: end;

        .icon{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 42px;
          min-width: 42px;
          background: #fff;
          border-radius: 50%;
          margin-right: 20px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          img{
            max-width: none;
          }
        }
      }
    }
    .img-block{
      display: flex;

    }
  }
  .text-block{
    margin-left: 65px;
    max-width: 470px;

    span{
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;
      /* or 26px */
      color: rgba(0, 0, 0, 0.5);
    }
    h1{
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 51px;
      line-height: 109%;
      color: #000000;
      margin-top: 10px;
      margin-bottom: 34px;
    }
    p{
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 19px;
      line-height: 160%;
      color: #407BFF;
      margin-bottom: 10px;
    }
    p.sub{
      font-weight: normal;
      font-size: 16px;
      line-height: 1.4;
      color: #000;
    }
    a{
      background: #B073FF;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      border-radius: 100px;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 140%;
      text-align: center;
      color: #FFFFFF;
      text-decoration: none;
      padding: 18px;
      width: 216px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 37px;

    }
  }
}
#ready_to_scale_p{
  background-image: url("../acetss/Rectangle 140.png");
  padding: 74px 0;
  background-repeat: no-repeat;
  background-size: cover;

  h2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 920px;
  }
  div{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  a{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 140%;
    text-align: center;
    width: 350px;
    height: 61px;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 2px 50px rgba(237, 134, 193, 0.2));
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 38px;
  }
}
