@import "mixins";
@import "variables";

.tabs {
  display: flex;
  align-items: end;
  padding: 0;

  .tabs-menu {
    padding: 50px 0 370px 0;
    background: #EBF1FF;
    min-width: 463px;
    position: sticky;
    top: 0;

    .nav-tabs{
      border: none;
      width: 260px;
      flex-direction: column;
      margin-left: auto;

      li {
        cursor: pointer;
      }
      li.active {

      }
      li.active a {
        opacity: unset;
        border-radius: 100px 0 0 100px;
        background: #FFFFFF;

      }
      li a {
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 143%;
        color: #000000;
        text-align: left;
        opacity: 0.6;
        display: block;
        padding: 23px 25px 23px 30px;


      }
    }
  }
  .tab-content {
    padding: 50px 230px 135px 70px;
    h2 {
      font-weight: bold;
      font-size: 51px;

      text-align: left;
    }
    p.date{
      font-size: 13px;
      opacity: 0.8;
    }

  }
}
