@import "mixins";
@import "variables";

#industries_top_p{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 130px 0 73px 0;
  .text-block{
    padding-left: 80px;

    span{
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;
      /* or 26px */
      color: rgba(0, 0, 0, 0.5);
    }
    h1{
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 51px;
      line-height: 109%;
      color: #000000;
      margin-top: 10px;
      margin-bottom: 34px;
    }
    p{
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 160%;
      color: #000000;
    }
    a{
      background: #B073FF;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      border-radius: 100px;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 140%;
      text-align: center;
      color: #FFFFFF;
      text-decoration: none;
      padding: 18px;
      width: 216px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 37px;

    }
  }
}
#ready_to_scale_p{
  background-image: url("../acetss/Rectangle 140.png");
  padding: 74px 0;
  background-repeat: no-repeat;
  background-size: cover;

  h2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 920px;
  }
  div{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  a{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 140%;
    text-align: center;
    width: 350px;
    height: 61px;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 2px 50px rgba(237, 134, 193, 0.2));
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 38px;
  }
}
#industries_info{
  padding: 185px 0 120px 0;
  background-image: url("../acetss/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -60px;
  .v-1110{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
    .image{
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .industries_info_text{
      padding-left: 100px;
      padding-top: 15px;
      p.subtitle{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.3;
        color: #000000;
        opacity: 0.9;
        margin-bottom: 5px;
      }
      h1{
        font-style: normal;
        font-weight: bold;
        font-size: 51px;
        line-height: 1.4;
        color: #000000;
        margin-bottom: 30px;
      }

    }
    .icons-info{
      .one-icon-info{
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 20px;
        .icon{
          background: #FFFFFF;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          margin-right: 23px;
        }
        p{
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 1.6;
          margin: 0;
          color: #000000;
          opacity: 0.8;
        }
      }
    }
  }
}

#publisher-lab{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 220px 0 130px 0;
  img, svg{
    border-radius: 20px;
    max-width: 100%;
  }
  span{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    /* or 26px */
    color: rgba(0, 0, 0, 0.5);
  }
  h1{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 1;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 34px;
  }
  p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 1.6;
    color: #000000;
  }
  .first-b{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 225px;
    .text-block{
      width: 45%;
      padding-left: 65px;
    }
    .image{
      img, svg{
        max-width: 100%;
      }
      width: 55%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .second-b{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .text-block{
      width: 48%;
      padding-right: 50px;
      p.description{
        margin-bottom: 40px;
      }
      a{
        background: #B073FF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
        border-radius: 100px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        padding: 18px;
        width: 216px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 43px;
      }
      .one-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        background: #FFFFFF;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.03), 0px 6px 20px rgba(10, 27, 66, 0.08);
        border-radius: 10px;
        padding: 0 25px;
        margin-bottom: 15px;

        img{
          margin-left: 25px;
        }
        p{
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 1.4;
          color: #000000;
          margin: 0;
        }
      }
    }

    .image{
      img, svg{
        max-width: 100%;
      }
      width: 52%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
#publisher-cases{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 920px;
  margin: 0 auto 140px auto;

  .use-cases{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;


    .one-case{
      padding: 0 40px 50px 40px;
      border-radius: 10px;
      box-shadow: 0px 2px 15px -2px rgba(0,0,0,0.13);
      position: relative;
      .img{
        margin-top: -70px;
        img, svg{
          max-width: 100%;
        }
      }
      .info{
        margin-top: 30px;
        h3{
          font-style: normal;
          font-weight: bold;
          font-size: 25px;
          line-height: 1.4;
          color: #000000;
        }
        p.subtitle{
          font-weight: bold;
        }
        .items{
          p{
            display: flex;
            align-items: center;
            justify-content: end;
            margin-bottom: 7px;
          }
        }
        p{
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 1.6;
          color: #000000;
          img{
            width: 20px;
            height: 20px;
            margin-right: 18px;
          }
        }
      }
    }
  }
  .title{
    margin-bottom: 140px;
    border-bottom: 0.5px solid #BFBFBF;
    width: 100%;
    h3{
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 1.43;
      text-align: center;
      margin-bottom: 30px;
      color: #000000;
    }
  }
}